.desktop-icon {
  position: absolute;
  bottom: 72px; /* Adjust to sit above the taskbar */
  right: 0px; /* Adjust to align with the bottom-right corner */
}

.desktop-icon-image {
  width: 48px;
  height: 48px;
  image-rendering: pixelated;
}

.desktop-icon-label {
  margin-top: 5px;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px 2px black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
